-- backend-d1-saas/migrations/0003_fts_indexes.sql
-- Full-Text Search (FTS5) Implementation for Comic Search
-- Provides fast, ranked search across comic titles, descriptions, and tags

-- Create FTS5 virtual table for comics
-- This allows full-text search queries on comics
CREATE VIRTUAL TABLE IF NOT EXISTS comics_fts USING fts5(
  id UNINDEXED,        -- Store ID but don't index it separately
  title,               -- Comic title (weighted in search)
  description,         -- Comic description
  tags,                -- Comma-separated tags
  genres,              -- Comma-separated genres
  content='comics',    -- Content from 'comics' table
  content_rowid='id'   -- Primary key mapping
);

-- Populate FTS table with existing comics
INSERT INTO comics_fts(rowid, id, title, description, tags, genres)
SELECT id, id, title, description, tags, genres FROM comics
WHERE status = 'published';

-- Trigger to keep FTS in sync on INSERT
CREATE TRIGGER IF NOT EXISTS comics_ai AFTER INSERT ON comics BEGIN
  INSERT INTO comics_fts(rowid, id, title, description, tags, genres)
  VALUES (new.id, new.id, new.title, new.description, new.tags, new.genres);
END;

-- Trigger to keep FTS in sync on UPDATE
CREATE TRIGGER IF NOT EXISTS comics_au AFTER UPDATE ON comics BEGIN
  DELETE FROM comics_fts WHERE rowid = old.id;
  INSERT INTO comics_fts(rowid, id, title, description, tags, genres)
  VALUES (new.id, new.id, new.title, new.description, new.tags, new.genres);
END;

-- Trigger to keep FTS in sync on DELETE
CREATE TRIGGER IF NOT EXISTS comics_ad AFTER DELETE ON comics BEGIN
  DELETE FROM comics_fts WHERE rowid = old.id;
END;

-- Create index on comics table for common queries
CREATE INDEX IF NOT EXISTS idx_comics_status ON comics(status);
CREATE INDEX IF NOT EXISTS idx_comics_published_at ON comics(created_at DESC);
CREATE INDEX IF NOT EXISTS idx_comics_rank_score ON comics(rank_score DESC);

-- Index for efficient chapter lookups by comic
CREATE INDEX IF NOT EXISTS idx_chapters_story_id ON chapters(story_id);
CREATE INDEX IF NOT EXISTS idx_chapters_status ON chapters(status);

-- Index for efficient page lookups by chapter
CREATE INDEX IF NOT EXISTS idx_pages_chapter_id ON pages(chapter_id);

-- Index for audit log queries (by actor and timestamp)
CREATE INDEX IF NOT EXISTS idx_audit_logs_actor_timestamp ON audit_logs(actor_id, timestamp DESC);
CREATE INDEX IF NOT EXISTS idx_audit_logs_action ON audit_logs(action);

-- Example FTS search query:
-- SELECT c.id, c.title, c.description, rank
-- FROM comics c
-- JOIN comics_fts ON c.id = comics_fts.id
-- WHERE comics_fts MATCH 'adventure OR mystery'
-- ORDER BY rank;

-- Batch insert optimization: Use transactions for bulk operations
-- Example: Wrap multiple INSERTs in BEGIN TRANSACTION ... COMMIT
-- This improves performance significantly for bulk uploads
